/* Style the header */

.container {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 0px;
}
.header {
    background-color: white;
    padding: 30px;
    padding-top: 0px;
    height: 50px;
    display: flex;
    color: #242424;
}

.arrow {
    margin-top: 10px;
}

.push {
    margin-left: auto;
    margin-top: 10px;
}
.userPhoto {
    padding-left: 35px;
}
.userName {
    padding-left: 35px;
    width: 50px;
    margin: 0px;
}

.userName__name {
    margin-top: 5px;
}

.navigation__avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header__element {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.header__svg {
    margin: 40px;
}

.day {
    margin-top: 0px;
    margin-left: 50%;
    color: #969696;
}
.messages {
    display: flex;
    flex: 1;
    min-height: auto;
    flex-direction: column;
    flex-flow: wrap;
    gap: 0px;
}

.message__received {
    background-color: #484848;
    color: white;
    width: 73.33%;
    padding: 10px;
    margin: 8px;
}
.time__received {
    margin-top: 0px;
    margin-left: 73.33%;
    color: #969696;
}

.message__sent {
    margin-left: 26.66%;
    background-color: #484848;
    padding: 10px;
    color: white;
}

.seen {
    margin-left: 26.66%;
}
.time__sent {
    margin-top: 0px;
    margin-left: auto;
    color: #969696;
}

.footer {
    background-color: white;
    padding: 30px;
    display: flex;
    color: #242424;
}

.emoji {
    margin-top: 10px;
    margin-right: 20px;
}


.sendMessage{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    border: none;
}

.photo {
    margin-top: 10px;
    margin-left: 20px;
}
@media (max-width: 600px) {
    .time {
        margin-left: 85%;
    }
}
