@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    font-family: 'Inter', sans-serif;
}
