/*MESSAGES*/

.messages {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 36px 20px;
    gap: 8px;
}

/*RECEIVED*/

.received {
    background-color: #484848;
    padding: 12px 11px 12px 12px;
    color: #ffffff;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-right: calc(100% - 264px);
}

/*SENT*/
.sent {
    background-color: #ebebeb;
    padding: 12px 11px 12px 12px;
    color: #242424;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-left: calc(100% - 264px);
}

.first {
    border-radius: 0px 10px 0px 0px;
}

.test {
    color:red;
}

.middle {
    border-radius: 0px 0px 0px 0px;
}

.last {
    border-radius: 0px 0px 10px 10px;
}
