@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    font-family: 'Inter', sans-serif;
}

.horizontal_line {
    opacity: 0.1;
    border: 1px solid #000000;
}
