.modal {
    display: flex;
    justify-content: space-between;
}

.modal__links {
    list-style: none;
}

.modal__item {
    display: inline-block;
    padding-left: 10px;
}

.modal__button {
    border-radius: 10px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    background: rgba(0, 0, 0, 0.05);
    border: none !important;
    cursor: pointer;
}
