.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin-top: 0px;
    border-top: 0px;
    background: deepskyblue;
}

.navigation__avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation__link {
    text-decoration: none;
    display: block;
    padding: 1em;
    padding-top: 25px;
    color: white;
}

.navigation__logout {
    margin-left: auto;
    padding-top: 25px;
    padding-right: 20px;
    margin-right: 0px;
    border-right: 0px;
}

.navigation__button {
    background-color: #4caf50;
    text-align: center;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 4px;
    color: white;
    border: none;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: flex-start;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: row wrap;
        padding: 0;
    }
    .navigation__link,
    .navigation__avatar {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation__logout {
        margin-left: auto;
    }
}
